.button {
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  background: $main-orange;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  z-index: 3000;

  &:hover {
    background: $color-hover-button-orange;
  }

  &--clear {
    background: transparent;
    text-transform: none;

    &:hover {
      background: transparent;
    }
  }

  &--gray {
    background: $main-dark-grey;

    &:hover {
      background: $color-hover-button-grey;
    }
  }

  &--view--desktop {
    @include phones {
      display: none;
    }

  }

  &--view--mobile {
    display: none;

    @include phones {
      display: inline-block;
    }
  }
}

