$ingredients-icon-side: 35px;

.ingredients {
  position: absolute;
  top: -25%;
  left: $compound-side;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  padding: 0 20px 15px;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  @include ubuntu();
  display: none;
  justify-content: space-between;

  @include tablets() {
    width: 320px;
  }

  @include phones() {
    width: 360px;
  }
}

.ingredients__cross-container {
  margin-left: 15px;
  display: none;

  @include tablets() {
    display: flex;
  }
}

.ingredients__container {
  flex: 1;
}

.ingredients-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.ingredients-params {
  display: flex;
  align-items: center;
}

.ingredients-icon {
  width: $ingredients-icon-side;
  height: $ingredients-icon-side;
  margin-right: 20px;
}

.ingredients-name {
  font-weight: 500;
}